.list {
  display: flex;
  flex-direction: column;

  gap: 8px;


  &__item {
    height: 80px;
    display: flex;
    align-items: center;
    gap: 16px;

    border: 1px solid var(--color-grey-75);

    cursor: pointer;

    &:hover {
      background-color: var(--color-grey-95);
    }

    &-number {
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 36px;
      border-right: 1px solid var(--color-grey-75);
    }

    &-header {
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-caption {
      color: var(--color-grey-40);
    }
  }
}
