<div class="content">
  <h4 class="title">Log in</h4>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label for="username">
      <input id="username" formControlName="username" placeholder="Username">
      <span class="input-error">{{ getErrorMessage(formGroup.get('username')) }}</span>
    </label>
    <label for="password">
      <input id="password" type="password" formControlName="password" placeholder="Password">
      <span class="input-error">{{ getErrorMessage(formGroup.get('password')) }}</span>
    </label>
    <button [disabled]="formGroup.invalid">Log in</button>
  </form>
</div>
