<div class="content">
  <h4 class="title">Log in</h4>
  <form class="form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <label for="username">
      <input id="username" formControlName="username" placeholder="Username">
      <span class="input-error">{{ getErrorMessage(formGroup.get('username')) }}</span>
    </label>
    <label for="password">
      <span class="input-group">
        <input id="password" [type]="passwordVisible ? 'test' : 'password'" formControlName="password"
               placeholder="Password">
        <!-- Toggle password visibility -->
        <button type="button" class="button--basic material-symbols-outlined"
                (click)="passwordVisible = !passwordVisible">
            {{ passwordVisible ? 'visibility_off' : 'visibility' }}
        </button>
      </span>
      <span class="input-error">{{ getErrorMessage(formGroup.get('password')) }}</span>
    </label>
    <button [disabled]="formGroup.invalid">Log in</button>
  </form>
</div>
