@use '../../../../core/styles/utils';

.list {
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;

  gap: 8px;


  &__item {
    height: 80px;

    border: 1px solid var(--color-grey-75);

    transition: transform ease 300ms;


    @include utils.breakpoint(md) {
      height: 70px;
    }
    @include utils.breakpoint(sm) {
      height: auto;
    }

    &:hover {
      background-color: var(--color-grey-95);
      border-color: var(--color-accent);

      transform: translateX(8px);
    }

    &-wrapper {
      height: 100%;
      display: flex;
      align-items: center;
      gap: 16px;
    }

    &-number {
      min-width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;

      font-size: 36px;
      border-right: 1px solid var(--color-grey-75);

      @include utils.breakpoint(md) {
        min-width: 70px;

        font-size: 30px;
      }
      @include utils.breakpoint(sm) {
        min-width: 60px;

        font-size: 24px;
      }
    }

    &-header {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 16px;

      @include utils.breakpoint(md) {
        gap: 8px;
      }
      @include utils.breakpoint(sm) {
        gap: 4px;
      }
    }

    &-caption {
      max-width: 100%;
      color: var(--color-grey-40);

      white-space: nowrap;

      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-username {
      font-size: 24px;

      @include utils.breakpoint(sm) {
        font-size: 16px;
      }
    }
  }
}
