<div class="info-header">
  <h5>
    Users list
  </h5>
</div>

@if (users$ | async; as users) {
  <ul class="list">
    @for (user of users; track user) {
      <li class="list__item">
        <a [routerLink]="['/user',user.id, 'posts']" class="list__item-wrapper">
          <p class="list__item-number">{{ user.id }}</p>
          <div class="list__item-content">
            <div class="list__item-header">
              <p>{{ user.username }}</p>
              <span class="app-caption list__item-caption">{{ user.email }}</span>
            </div>
            <p class="list__item-username">{{ user.name }}</p>
          </div>
        </a>
      </li>
    }
  </ul>
}
